*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 900px;
    background: #0F1110;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > p{
    margin-left: 80px;
}
.imgIntroduction > img{
    width: 225px;
    height: 225px;
}
.imgIntroduction > .imgOpen{
    width: 332px;
    height: 210px;
}
.introduction{
    display: flex;
    flex-direction: column;
}
.introduction > h1{
    color: #45A5FF;
    margin-bottom: 10px;
}
.introduction > p{
    color: #45A5FF;
    margin-bottom: 20px;
    font-size: var(--font-size-medium);
}
.introduction > .welcome {
    color: #022648;
    font-size: 25px;
    text-decoration: none;
    /* border: 1px solid #FB7B7B; */
    border-radius: 5px;
    padding: 10px;
    background-color: #2be249;
    transform: translate(0,0.2s);
    transition: transform 0.3s;
}
.introduction > .welcome:hover{
    background-color: #F6F2F2;
    color: #011628;
    box-shadow: 4px 12px 15px #FB7B7B;
    /* text-shadow: 1px -2px 25px #FB7B7B; */
    transform: translate(0,-5px);
}


a.welcome{
    transform: rotate(0deg);
    transition: transform 0.3s;
}


a.welcome.active {
    animation: oscilace 2s infinite alternate;
}

@keyframes oscilace {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    /* 50% {
        transform: translate(0deg);
    } */
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
